<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="FakeItEasy" version="1.7.4257.42" />
  <package id="Newtonsoft.Json" version="4.5.4" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="RestSharp" version="103.0.0" />
  <package id="TrelloNet" version="0.5.0" />
</packages>